/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULES START */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.relative{
    position: relative;
}

/* GENERAL RULES END */

/* HEADER START */
header{
    min-height: 60px;
    padding: 10px;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

header *{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a{
    padding: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
}

#header-logo{
    max-height: 20px;
    margin-left: -20px;
}

/* HEADER END */

/* MAIN START */
main{
    margin-top: 100px;
}


/* MAIN END */

/* FOOTER START */



/* FOOTER END */